<ion-header>
  <ion-toolbar>
    <ion-title>{{ hasConfirmed() ? 'Itens Recebidos!' : 'A batalha já se encerrou?' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="hasConfirmed()">
    <ion-item *ngFor="let item of items">
      {{ item.name }}
    </ion-item>
  </ion-list>
  <div class="confirmation-modal" *ngIf="!hasConfirmed()">
    <ion-button shape="round" fill="outline" size="small"  class="">
        Não
    </ion-button>
    <ion-button shape="round" fill="outline" size="small"  class="">
        Sim
    </ion-button>
  </div>
</ion-content>
