<ng-container *ngIf="visible">
  <div class="class-actions-fab">
    <ion-icon
      id="class-actions-btn"
      class="class-actions-icon"
      name="flash"
      (click)="openModal()"
    ></ion-icon>
  </div>

  <ion-modal
    class="class-actions-modal"
    [isOpen]="modalOpen()"
    (didDismiss)="onModalDismiss()"
  >
    <ng-template>
      <ion-header class="class-actions-modal-header">
        <ion-toolbar class="class-actions-modal-toolbar">
          <ion-title class="class-actions-modal-title">{{ modalTitle() }}</ion-title>
          <ion-buttons slot="end">
            <ion-button class="class-actions-modal-close" (click)="closeModal()">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding class-actions-content class-actions-modal-content">
        <ion-list lines="none" class="class-actions-list">
          <ion-item *ngFor="let a of abilities()" class="class-actions-item">
            <ion-label class="ion-text-wrap">
              <h2>{{ a.name }}</h2>
              <p>{{ previewLine(a) }}</p>
            </ion-label>
            <ion-button slot="end" fill="outline" size="small" (click)="resolve(a)">
              Rolar
            </ion-button>
          </ion-item>
        </ion-list>
        <p *ngIf="resultMessage()" class="result-message">{{ resultMessage() }}</p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ng-container>
